<mat-toolbar color="primary">
  <img id="logo" src="assets/com.flavorpairlogo.png">
</mat-toolbar>

<header id="header">
  <div id="upload" style="cursor: pointer" (click)="cameraButton.click()">
    <input style="height:0px;display:none" type="file" accept="image/*" capture="camera" (change)="sendImage($event)" #cameraButton />
    <mat-icon id="uploadLogo">photo_camera</mat-icon>
    <h1>Take a picture of your food</h1>
  </div>
</header>

<mat-card id="home">
  <!-- <input type="file" accept="image/*" capture="capture"> -->
  <form>
    <mat-form-field>
      <input matInput placeholder="Search for a food" [formControl]="searchBox">
    </mat-form-field>
  </form>

  <mat-expansion-panel *ngFor="let recipe of recipes | async">
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML] = "recipe.name">
      </mat-panel-title>
      <span class="tagline">Used in {{recipe.recipes.length}} recipes.</span>
    </mat-expansion-panel-header>
    
    <mat-chip-list>
      <!-- <mat-basic-chip *ngFor="let dish of recipe.recipes"> -->
        <a [href]="dish.custom_url" *ngFor="let dish of recipe.recipes">
            <div class="chip">
                {{dish.title}}
            </div>
        </a>
      <!-- </mat-basic-chip> -->
      
    </mat-chip-list>
  </mat-expansion-panel>
</mat-card>
